<!--페이지 로딩속도를 높이기 위해 css는 header, js는 footer 에 삽입 -->
{{>layout/header}}
    <h1>gorani@@@</h1>
    <div class = "col-md-12">
        <div class = "row">
            <div class="col-md-6">
                <a href = "/posts/save" role = "button" class = "btn btn-primary">게시글 등록</a>
            </div>
        </div>
    </div>
{{>layout/footer}}
